<div class="center hero-unit">
		<h1>Place your Bugs......</h1>
					
		<h2>
			Bugzill@
		</h2>

			<%= link_to "Users",users_path , class: "btn btn-large btn-primary"%>
			<%= link_to "Bugs",bugs_path , class: "btn btn-large btn-primary"%>
			<%= link_to "Projects",projects_path , class: "btn btn-large btn-primary"%>
		
	</div>
			<%= link_to image_tag("bugg.png", alt: "Rails"),class:"center" %>



		
